// DnD
.dnd {
  height: 100%;
  overflow: auto;
}

.button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-bottom: 1.5em;
}
