.card {
  margin: auto;
  width: 80%;
  .changeButton {
    margin: 0;
    padding: 0;
    text-align: right;
  }
  .profile {
    display: flex;

    border-top: 1px solid #ccc;
    .imageBlock {
      margin-top: 1.5em;
    }
    .centerBlock {
      text-align: center;
      width: 80%;
      // height: 100%;
      max-width: 80%;
      display: block;
      border-bottom: 1px solid #ccc;

      p {
        text-align: center;
      }
      .profileBlock {
        border-bottom: 1px solid #ccc;
        width: 75%;
        margin-left: 10%;
        margin-bottom: 1em;
      }
      .routerCard {
        text-align: center;
        display: flex;
        width: 60%;
        margin-left: 16%;
        margin-bottom: 1rem;
        padding: 1.5rem;
        a {
          font-size: 1.5em;
        }
        .routeDescription {
          text-align: center;
          margin: 0 auto;
        }
      }
      .tweets {
        text-align: left;
        margin-left: 16%;
        width: 60%;
        p {
          text-align: left;
        }
      }
    }
  }
}

.wrapperContent {
  display: flex;
  .leftSide {
    width: 60%;
    height: 150px;
  }
}
#buttonActive {
  background-color: #0087ff;
  color: white;
}

#buttonInactive {
  background-color: gray;
  color: white;
}

#uploadProfile {
  display: none;
}
