.card {
  text-align: center;
  margin: auto;
  width: 80%;
  .profile {
    display: flex;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    border-top: 1px solid #ccc;
    .imageBlock {
      margin-top: 1.5em;
    }
    .centerBlock {
      display: block;
      border-bottom: 1px solid #ccc;
      max-width: 80%;
      p {
        text-align: center;
      }
    }
  }
}

.routerCard {
  display: flex;
  background-color: #e7e7e7;
  width: 60%;
  margin-left: 25%;
  margin-bottom: 1rem;
  padding: 1.5rem;
}
