.header {
  display: grid;
  list-style: none;
  color: #fff;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.3em;
  background-color: #2699fb;
  margin: 0;
  padding: 15px;
  .left {
    display: flex;
  }
  .center {
    display: flex;
    justify-content: space-around;
    text-align: center;
    li {
      margin-left: 3rem;
    }
  }
  .right {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
  }
}
