.wrapper {
  display: flex;
  height: 90vh;
}
.left {
  width: 20%;
  .avatar {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }
  .postForm {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  .commentButton {
    margin-top: 10px;
    margin-left: 38%;
  }
}

.center {
  width: 60%;
}

.right {
  width: 20%;
}
